body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
}

header {
  text-align: center;
  padding: 30px 0;
  background-color: #0078d4;
  color: #fff;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

p {
  margin: 10px 0 0;
}

main {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#url-input,
#url-input1 {
  margin-top: 25px;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

#check-button {
  margin-top: 25px;
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #0078d4;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#result {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  border-radius: 3px;
}

/* .check {
  color: red;
} */
